.friendList {
    margin-left: 40px;
}
.item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 8px;
  padding: 15px;

  max-width: 200px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
